##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [1]:
#variabel kosong Menggunakan None 
test = None

2. > Create a variable containing your name (Points : 5)

In [2]:
#menampilkan nama saya dan disimpan dlm string
nama = "KEVIN AVICENNA WIDIARTO"

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [3]:
#Menyimpan item yang terdapat di kelas dalam bentuk string
classroom = ["pencil","pen","whiteboard","table","chair"]

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [4]:
#membuat dictionary berisi kunci 1 value classroom dan kunci 2 value garden 
school = {1 :"classroom",2:"garden"}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [5]:
#Code goes here
price= 12000
quantity_sold=20
discount=0.1

#Variabel pay berisi price dikali quantiti penjualan * diskon
pay = price*quantity_sold*discount
pay

24000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [6]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#List country berisi 5 negara
countries = ["Indonesia","Malaysia","Singapore","Timor Leste","Brunei"]
#Code goes here

In [7]:
# Get 4 countries from the first index of the list (Points : 5)
countries[:-1]
#Code goes here

['Indonesia', 'Malaysia', 'Singapore', 'Timor Leste']

In [8]:
# Append new country to the list (Points : 5)


#menambahan negara dengan fungsi country
countries.append("Thailand")
#Code goes here

In [9]:
# Drop one country from the list (Points : 5)

#menghilangkan 1 negara dari list dengan fungsi remove
countries.remove("Indonesia")
#Code goes here

In [10]:
# Get country in the last index (Points : 5)

#index terakhir menggunakan -1
countries[-1]

#Code goes here

'Thailand'

# Dictionary Data Operation

6. >  Follow the instructions below

In [11]:
# Given the dictionary below
#dictionary berisi kunci name ,age,gender dan membership
customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [12]:
# Print all keys in customer (Points : 5)

#melihat semua kunci dengan fungsi keys
customer.keys()

#Code goes here

dict_keys(['name', 'age', 'gender', 'membership'])

In [13]:
# Print all customer names (Points : 5)

#melihat semua values yang ada di dictionary
customer.values()
#Code goes here

dict_values([['Dio', 'Eka', 'Wayu', 'Riki'], [20, 19, 24, 39], [1, 0, 0, 1], ['Platinum', 'Gold', 'Silver', 'Silver']])

In [14]:
# Print the first customer name (Points : 5)

#menampilkan nama customer pertama
list(customer.values())[0][0]
#Code goes here

'Dio'

In [15]:
# Drop "age" key from the dictionary (Points : 5)

#Menghapus kunci "Age" 
customer.pop("age")

#Code goes here

[20, 19, 24, 39]

In [16]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 
# customer

#mengganti kunci value gender
list(customer.values())[1][0] = "Male"
list(customer.values())[1][1] = "Female"
list(customer.values())[1][2] = "Female"
list(customer.values())[1][3] = "Male"
customer
#Code goes here

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}